services:
  app:
    build: .
    platform: linux/amd64
    container_name: personal-ai-app
    ports:
      - "3000:3000"
    env_file:
      - .env.development.local
    environment:
      PORT: "3000"
      NODE_ENV: production
    restart: unless-stopped
