services:
  # always have shade-agent-api first in order of services
  shade-agent-api:
    environment:
      NEAR_ACCOUNT_ID: ${NEAR_ACCOUNT_ID}
      NEAR_SEED_PHRASE: ${NEAR_SEED_PHRASE}
      API_CODEHASH: ${API_CODEHASH}
      APP_CODEHASH: ${APP_CODEHASH}
      NEXT_PUBLIC_contractId: ${NEXT_PUBLIC_contractId}
      NEAR_RPC_JSON: ${NEAR_RPC_JSON}
    platform: linux/amd64 # Explicitly set for TDX
    image: mattdlockyer/shade-agent-api@sha256:555a166f4c648a579061f65000ad66c757c70881b468a1ae3b1b4cd67238f2e0
    container_name: shade-agent-api
    # DO NOT EXPOSE THE API PORT TO THE PUBLIC
    volumes:
      - /var/run/tappd.sock:/var/run/tappd.sock
    restart: always
    networks:
      - shade-network
  shade-agent-app:
    environment:
      NEXT_PUBLIC_contractId: ${NEXT_PUBLIC_contractId}
      NEAR_AI_API_KEY: ${NEAR_AI_API_KEY}
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      SHADE_AGENT_API_HOST: shade-agent-api
      API_PORT: "3140"
    platform: linux/amd64 # Explicitly set for TDX
    image: ajitesh99/personal-ai-new@sha256:a61ef4adddc3fa33e541b1a397e595aab9aee341cf2076f591e77f479c31b52d
    container_name: shade-agent-app
    ports:
      - "3000:3000"
    volumes:
      - /var/run/tappd.sock:/var/run/tappd.sock
    restart: always
    depends_on:
      - shade-agent-api
    networks:
      - shade-network

networks:
  shade-network:
    driver: bridge

